.sencha-dash-dash-headerbar {
    padding-left: 50px;
    position:fixed;
    width:100%;
    z-index:10;
    color:#FDFDFD;
    background-color:#0081C2;
    border:none;
    .header-right-profile-image {
        border-radius: 20px;
    }
}